body,
section,
h1,
p,
ul,
li,
img,
h2,
h3 {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul,
li {
  list-style: none;
}

img,
li {
  display: block;
}
